
.gamestyle-body{
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh; 
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.gamestyle-box1{
    background-color: rgba(232, 224, 212, 0.736);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    height: 500px;
    border-radius: 10px;

}
.gamestyle-box2{
    padding-bottom: 10px;


}
.gamestyle-box2 h1{
    padding-top: 0px;
    padding-bottom: 50px;
}

.gamestyle-image{
    padding-left:10px;
    padding-bottom: 10px;
}
.gamestyle-box3 input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    
}

gamestyle-button {
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    background-color:     rgb(45, 126, 231);

    color:rgb(45, 126, 231);
    border-radius: 15px;

}
gamestyle-button:hover {
    background-color: #218838;
    background-color: rgb(45, 126, 231);
}
.gamestyle-result-message {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}
.gamestyle-guess-input:hover{
    background-color: rgb(182, 199, 232);
}
.gamestyle-timer {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 5px;
  }
  .gamestyle-end-screen {
    text-align: center;
  }
  
  .gamestyle-end-message {
    font-size: 2rem;       
    font-weight: bold;       
    color: #333;          
    margin-bottom: 1rem;     
    text-align: center;      
  }
  .gamestyle-score {
    font-size: 1.5rem;         
    font-weight: bold;       
    color: #333;             
    margin-bottom: 2rem;     
  }