*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
button{
    padding: 8px;
    background-color: rgb(45, 126, 231);
    color:  aliceblue;
    margin-top: 200px;
    border: none;

}
li{
    padding: 10px;
    margin: 20px;
}
li:hover{

    color: blue;
    cursor: pointer;
}
#header{
    margin: 30px 20px;
    color: rgb(38, 38, 120);
}